<div class="span6">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="min-width: 80px;">Question:</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="qwa in Quiz.qwaList">
            <td align="left">{{ qwa.question.text}}</td>
            <td><a ng-click="editQuestion(qwa.question.questionID)" class="btn btn-small btn-primary">Edit</a></td>
            <td><a ng-click="removeQwa(qwa.question.questionID)" class="btn btn-small btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="createNewQuestion()" class="btn btn-small">Frange Hinzufügen in die Lernplattform</a>
</div>