<div>
    <div ng-show="currentQuestion === $index" ng-repeat="qwa in Quiz.qwaList">
        <h3>{{qwa.question.text}}</h3>
        <div ng-repeat="answer in qwa.answers" >
            <input type="checkbox" ng-model="Quiz.currentAnswer[answer.answerID]">  {{answer.text}}
        </div>
        <div class="btn btn-lg btn-default" ng-click="nextQuestion()"> Nächste Frage</div>

    </div>
</div>




<a ng-show="currentQuestion === Quiz.qwaList.length" href="#result" class="btn btn-lg btn-default">Abgeben</a>